@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Student Course Management System</h1>
    <br />
    <h2>Avalible courses categorised by topic area</h2>
    <p>Lorem</p>
    <p>Needs to be linked to the SQL database at some stage to access data required.</p>
    <br />
    <h2>Enter Courses Passed</h2>

    <input type="text" name="courses passed" />
    <p>or create a checkbox list?</p>
    <br />

    <h2>Display options</h2>

    <button onclick="myFunction()">Print</button>
    <script>
        function myFunction() {
            window.print();
        }
    </script>
    <button>Save</button>
    <p>Option to print</p>


</div>